{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "semi": ["error", "always"],
    // "new-cap": ["error", "off"],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "arrow-parens": "off",
    "node/no-extraneous-import": [
      "error",
      {
        "allowModules": ["crypto-js"]
      }
    ]
  }
}
